<div class="row noheader">
	<div class="span12">
	</div>
</div>

<%- partial('balance', { 'balance' : account.balance() }) %>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Item</th>
			<th style="text-align: right;">$$$</th>
		</tr>
	</thead>
	<tbody>
		<% var bookings = account.bookings(); 
		for (var i = bookings.length -1; i >= 0; --i) { %>
		<tr id="booking-<%= bookings[i].id() %>">
			<td><a href="/booking/<%= bookings[i].id() %>"><time><%-: bookings[i].time() | isodate_short %></time></a></td>
			<td><%=: bookings[i].name() | truncate:17 %> 
			<% if (bookings[i].reversed()) { %>
				<span class="label label-important">reversed</span> 
			<% } %>

			<% if (bookings[i].automatic()) { %>
				<span class="label">automatic</span> 
			<% } %>

			<% if (bookings[i].admin()) { %>
				<span class="label label-info">admin</span> 
			<% } %>
			</td>

			<% var posneg = (bookings[i].amount() < 0) ? 'negative' : 'positive'; %>
			<td style="min-width: 3em;text-align: right;" class="<%= posneg %>"><%-: bookings[i].amount() / 100 | money %></td>
		</tr>
		<% } %>
	</tbody>
</table>


	</div>
</div>


<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
