<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Item <%= item.id() %></h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<form action="/item/<%= item.id() %>/edit" method="post" class="" >

		<div class="control-group">
			<label for="input-name">Name</label>
			<input id="input-name" name="name" type="text" value="<%= item.name() %>" class="span2" />
		</div>

		<div class="control-group">
			<label for="input-description">Description</label>
			<input id="input-description" name="description" type="text" value="<%= item.description() %>" class="span2" />
		</div>

		<div class="control-group">
			<label for="input-price">Price</label>
			<input id="input-price" name="price" type="number" value="<%-: item.price() / 100 | money %>" class="span2" />
		</div>

		<div class="control-group">
			<label for="input-displayprice">Display price</label>
			<input id="input-displayprice" name="displayprice" type="text" value="<%= item.displayPrice() %>" class="span2" />
		</div>

		<div class="control-group">
			<label for="input-ration">Ration size</label>
			<input id="input-ration" name="ration" type="number" value="<%= item.ration() %>" class="span2" />
		</div>

		<div class="control-group">
			<label for="input-unit">Units</label>
			<input id="input-unit" name="unit" type="number" value="<%= item.unit() %>" class="span2" />
		</div>

		<div class="form-actions">
            <a class="btn" href="/items">Cancel</a> <button class="btn btn-success" type="submit">Save</button>
          </div>
		</form>
	</div>
</div>

<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
