
<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>What Do You Want To Do?</h1>
			<p>Select the item you wish to pay.</p>
		</div>
	</div>
</div>

<ul class="items">
<% for (var id in items) { %>
	<% if (items[id].buyable) { %>
	<li class="item row">
		<div class="span12">
			<a href="/pay/<%= id %>">
				<span class="name"><%= items[id].name %></span>
				<span class="description"><%= items[id].description %></span>
				<span class="price"><%= items[id].displayValue %></span>
			</a>
		</div>
	</li>
	<% } %>
<% } %>
</ul>

<%- partial('usernavigation') %>
