<div class="row noheader">
	<div class="span12">
	</div>
</div>

<%- partial('partials/item', { 'item' : item, 'mode' : 'default' }) %>

<div class="row">
	<div class="span12">
		<dl class="dl-horizontal">
			<dt>ID</dt>
			<dd><%= item.id() %></dd>
			<dt>Name</dt>
			<dd><%= item.name() %></dd>
			<% if (item.isStockable()) { %>
				<dt>Ration</dt>
				<dd><%= item.ration() %> <%=: item.unit() | downcase %></dd>
			<% } else { %>
				<dt>Description</dt>
				<dd><%= item.description() %></dd>
			<% } %>
			<dt>Price</dt>
			<dd><%= item.displayPrice() %></dd>
			<dt>Options</dt>
			<dd>
				<% if (item.isStockable()) { %> <span class="label label-info">stock</span> <% } %>
				<% if (item.isBuyable()) { %> <span class="label label-info">buy</span> <% } %>
			</dd>
		</dl>
	</div>
</div>

<div class="row" style="margin-top: 36px; margin-bottom: 36px;">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large btn-success" href="/pay/<%= item.id() %>">Buy again</a>
	</div>
</div>

<footer>
<div class="row"">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a class="btn btn-large" href="/account">View account</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
