<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Log</h1>
			<p></p>
		</div>
	</div>
</div>

<div class="row log">
	<div class="span12">
		<% for (var i = log.length -1; i >= 0; i--) { %>
		<div class="row">
			<div class="span12 well">
				<span class="time"><time><%=: log[i].time | isodate %></time></span>
				<span class="user">
				<% if (users[log[i].user]) { %>
				<%= users[log[i].user].fullName() %>
				<% } else { %>
				<em>Unknown</em>
				<% } %>
				</span>
				<span class="account">
				<% if (users[log[i].accountId]) { %>
				<a href="/account/<%= log[i].accountId %>"><%= users[log[i].accountId].fullName() %></a>
				<% } else { %>
				<em>Unknown</em>
				<% } %>
				</span>
				<% if (log[i].booking && log[i].booking.automatic) { %>
				<span class="label">automatic</span>
				<% } %>
				<% if (log[i].booking && log[i].booking.admin) { %>
				<span class="label label-info">admin</span>
				<% } %>
				<% if (log[i].booking && log[i].booking.reversed) { %>
				<span class="label label-important">reversed</span>
				<% } %>
				<% if (log[i].booking) { %>
				<div class="booking">
					<pre><%= JSON.stringify(log[i].booking) %></pre>
				</div>
				<% } %>
			</div>
		</div>
		<% } %>
	</div>
</div>


<footer>
<div class="row">
	<div class="span12" style="text-align: center;">
		<a class="btn btn-large" href="/">Home</a>
		<a style="display:inline-block; margin-left: 18px;" href="/about"><img src="/img/irma.svg" style="height: 47px;" /></a>
	</div>
</div>
</footer>
